.spot-light {
  position: absolute;
  height: 95vh;
  width: 80vw;
  top: 5%;
  filter: blur(6rem);
  border-radius: 50%;
  z-index: 1;
  user-select: none;
  background: linear-gradient(to bottom, #52523dcc 0%,#52523dcc 100%);

}
@media screen and (orientation:landscape) {
  .spot-light {
    width: 60vw;
  }
}