.spot-light {
  position: absolute;
  height: 200%;
  width: 80%;
  top: 10%;
  filter: blur(50px);
  border-radius: 50%;
  z-index: 1;
  user-select: none;
  background: linear-gradient(to bottom, rgba(82,82,61,1) 0%,rgba(82,82,61,0) 60%);

}