.face {
  height: 100%;
  width: 100%;
  position: absolute;
  background: snow;
  border-radius: 50%;
  box-shadow: inset 0.5vmin 2.1vmin 0.5vmin 0 rgba(0, 0, 0, 0.35);
  display: flex;
  align-items: center;
  justify-content: center;
}
.faceGradient {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: inset -4vmin -5vmin 8vmin 2vmin rgba(150,150,150,.4);
}
.faceRingInner {
  height: 56%;
  width: 56%;
  position: absolute;
  border-radius: 50%;
  border: 0.1vmin solid #906500;
  box-shadow: inset 0 0 0 50vmin rgba(100, 80, 0, 0.1);
}
.faceRingInnerDouble {
  height: 58%;
  width: 58%;
  position: absolute;
  border-radius: 50%;
  border: 0.1vmin solid #906500;
}
.faceRingOuter {
  height: 97.2%;
  width: 97.2%;
  position: absolute;
  border-radius: 50%;
  box-sizing: border-box;
  border: 0.3vmin solid #906500;
}
.title {
  position: absolute;
  text-align: center;
  letter-spacing: 0.3vmin;
  font-size: 4vmin;
  transform: translate(0, -10vmin);
}