.title {
  font-family: 'Lobster Two', cursive;
  color: snow;
  font-size: 11.5vmin;
  font-weight: 700;
  font-style: italic;
  text-shadow: 1vmin 1vmin 1vmin rgba(0, 0, 0, 0.35);
  transform: translate(0, -15vmin);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 60;
}
.title div {
  transform-origin: bottom center;
  height: 60vmin;
  position: absolute;
}