.App {
  background-color: #1c1812;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin); 
  color: #222;
}
.clock {
  height: 65vmin;
  width: 65vmin;
  border-radius: 50%;
  position: absolute;
  border: solid #222 2.5vmin;
  box-shadow: 2px 15px 20px 5px rgba(0, 0, 0, 0.35);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(0, 3vmin);
  z-index: 10;
}