.hands {
  height: 100%;
  width: 100%;
  position: absolute;
  filter: drop-shadow(0.5vmin 1.1vmin 0.15vmin rgba(0, 0, 0, 0.25));
  display: flex;
  align-items: center;
  justify-content: center;
}

.hands .hand {
  position: absolute;
  width: 0.4vmin;
  box-sizing: content-box;
  transform-origin: bottom center;
  border-left: 0.6vmin solid transparent;
  border-right: 0.6vmin solid transparent;
}

.hands .hour {
  z-index: 10;
  border-bottom: 18vmin solid #000;
  border-left: 0.7vmin solid transparent;
  border-right: 0.7vmin solid transparent;
}

.hands .minute {
  z-index: 20;
  border-bottom: 25vmin solid rgb(24, 63, 126);
}

.hands .second {
  z-index: 30;
  width: 0.4vmin;
  border-left: 0.4vmin solid transparent;
  border-right: 0.4vmin solid transparent;
  border-bottom: 28.5vmin solid #990000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hands .tail {
  width: 1.15vmin;
  height: 10vmin;
  position: absolute;
  transform: translate(0, 34vmin);
  background-color: #990000;
}

.hands .minuteHub {
  width: 6%;
  height: 6%;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  z-index: 20;
}

.hands .secondHub {
  width: 4%;
  height: 4%;
  border-radius: 50%;
  background-color: #990000;
  position: absolute;
  z-index: 40;
  transform: translateZ(4px);
}
